/* styles.css */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:  center/cover no-repeat, linear-gradient(to bottom, #7da0ff, #37caff);
}

.form {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.button {
  background-color: #fad96e;
  color: #000000;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.names {
  text-align: center;
  margin-top: 20px;
}

.names p {
  margin: 5px;
}

/* ... (otros estilos) */
.main-title {
  font-size: 80px; 
  color:#000000
}

.names {
  font-size: 35px; /* Puedes ajustar el valor según tus preferencias */
  color:#000000
  /* Otros estilos si es necesario */
}